@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Skranji:wght@400;700&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }

header{
    background-color: #17326d;
    height: 11em;
    width: 118em;
}

nav{
    justify-content: space-between;
    font-weight: bold;
}

.barra{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin: -1em 2em 2em 28em;
}
#lista{
    margin-left: 6em;
    font-size: 20px;
}
a{
    color: #f4f4f4;
    text-decoration: none;
}

a:hover{
    color: aqua;  /*Color en los botones cuando se pone el mouse*/
}




.quehago{
    background-color: #333;
    font-family: 'Arial', sans-serif;
    width: 30em; /*Ancho*/
    height: 40em; /*Alto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    margin: 9em 0px 0px 30em;
    padding: 2em;
}
.logo{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 400px;
}

.que{
    color: #f4f4f4;
    font-size: 45px;
    margin: auto;
    font-family: "Skranji", system-ui;
}

.p1{
    font-family: "Skranji", system-ui;
    font-size: 20px;
    color: #f4f4f4;
    margin: 0px 2em 1em 2px;
}

.p2{
    font-family: "Skranji", system-ui;
    font-size: 20px;
    color: #f4f4f4;
    margin-bottom: 7em;
}
.Servicios{
    background-color: #333;
    font-family: 'Arial', sans-serif;
    width: 30em; /*Ancho*/
    height: 40em; /*Alto*/
    border-radius: 60px;
}

.servicio{
    padding: 2em 0px 1em 0px;
    margin: 2em 2em 0em 3em;
    color: #f4f4f4;
    font-size: 45px;
}
.fabian{
    font-family: "Skranji", system-ui;
    color: #f4f4f4;
    font-size: 45px;
    padding-top: 1em;
    padding-left: 1em;
}
#dg{
    margin-bottom: 3.5em;
}

.servi{
    margin: 1em 1em 0px 4em;
    font-family: "Skranji", system-ui;
    color: #f4f4f4;
    font-size: 18px;
}

.barra{
    font-family: "Skranji", system-ui;
    color: #f4f4f4;
}

.repair{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 1190px;
    left: 530px;
}


/*Ejemplo de movimientos de un div
.cuadrado{
    width: 200px;
    height: 200px;
    background: #536180;
    position: absolute;
    left: 1px;
    top: 50px;
}
*/