@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Skranji:wght@400;700&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 5px;
  
 

  }

header{
    display: flex;
    min-height: 70px;
    background-color: #17326d;
    align-items: center;
    padding: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: #f4f4f4;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: #f4f4f4;
    text-decoration: none;
}

a:hover{
    color: aqua;  /*Color en los botones cuando se pone el mouse*/
}

@media (max-width:700px){ /*Esto es para que el encabezado se adapte a una pantalla mas pequeña*/
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px; 
    };
}


.quehago{
    background-color: #333;
    font-family: 'Arial', sans-serif;
    width: 800px; /*Ancho*/
    height: 490px; /*Alto*/
    position: absolute;
    left: 500px;
    top: 400px;
    border-radius: 60px;
}
.logo{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 400px;
}

.que{
    position: absolute;
    left: 120px;
    top: 40px;
}

p{
    font-family: "Skranji", system-ui;
    font-size: 20px;
    color: #f4f4f4;
    position: absolute;
    left: 120px;
    top: 140px;
    margin-right: 70px;
}



/*Ejemplo de movimientos de un div
.cuadrado{
    width: 200px;
    height: 200px;
    background: #536180;
    position: absolute;
    left: 1px;
    top: 50px;
}
*/